*{
    max-width: 700px;
    margin: auto;
}


#header{
    height: 30px;
    width: 100%;
    background-color: #CCCCFF;
    position: fixed;
}

#left{
    float: left;
    height: 1500px;
    width: 20px;
    background-color: lightskyblue;
    position: inherit;
}

#right{
    float: right;
    height: 1500px;
    width: 20px;
    background-color: lightskyblue;
    position: inherit;
}

#footer{
    height: 30px;
    width: 100%;
    background-color: #CCCCFF;
    position: inherit;
}


.subcategory{
    text-decoration: underline;
    font-size: 1.5rem;
    /* display: inline; */
}

.rightnote{
    font-weight: normal;
    float: right;
}


h1{
    text-align: center;
    font-size: 40px;
}

p strong{
    font-size: 17px;
}

body{
    background-color:rgb(247, 230, 211);
}

#copyright{
    text-align: center;
}

#name{
    margin-top: 4px;
    margin-right: 10px;
    float: right;
    font-family: bradley hand,
        cursive;
}

div{
    border-radius: 5px;
}